<div ng-class="tabSection" ng-show="tab === 3">

    <h1>IBM ECMA-402 Demo :: re-written to utilize the a9n façade</h1>
    <h3>Click a button to change the locale being formatted.</h3>

    <div ng-controller="AppDataController as data" ng-app="ecma402DemoApp">
        <span>
            <table border="2" style="width:80%">
                <tr>
                    <th></th>
                    <th>IBM</th>
                    <th>Native</th>
                </tr>
                <tr>
                    <td>Current Date/Time</td>
                    <td><span ng-bind='data.values.date | a9n_dateFormat:{year: "numeric",month: "long",day: "numeric",weekday: "short",hour: "numeric",minute: "numeric",second: "numeric"}:data.values.locale'></span></td>
                    <td><span ng-bind='data.values.date | intl_dateFormat:data.values.locale:data.values.options'></span></td>
                </tr>
                <tr>
                    <td>Number</td>
                    <td><span ng-bind='data.values.number | a9n_numberFormat:"":data.values.locale'></span></td>
                    <td><span ng-bind='data.values.number | intl_numberFormat:data.values.locale:data.values.options'></span></td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>{{data.values.number | a9n_currencyFormat:"":data.values.locale:data.values.curr}}</td>
                    <td>{{data.values.number | intl_currencyFormat:data.values.locale:data.values.curr}}</td>
                </tr>
            </table>
            <span ng-repeat="locale in data.locales" ng-controller="LocaleController as ctrl">
                <button ng-click="ctrl.setLocale(locale.code, locale.curr)">{{locale.name}}</button>
            </span>
        </span>
    </div>

</div>
